* {
    box-sizing: border-box;
}

body {
    background: #eeeeee;
    font-family: 'Calibri';
}

.cardpet {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: white;
    overflow: hidden;
    height: 210px;
}

.cardpet:not(:first-child) {
    margin-top: 4px;
}

/* On mouse-over, add a deeper shadow */

.cardpet:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */

.contentv {
    float: left;
    padding: 2px 16px;
    overflow: hidden;
    padding: 9px;
    width: calc(100% - 180px);
}

.contentv .vinte > div {
    float: left;
    /* width: 20%; */
}

.contentv .cinquenta > div {
    float: left;
    width: 50%;
}

.contentv > div {
    overflow: hidden;
}

.contentv > div:not(:first-child) {
    margin-top: 10px;
}

.img-card {
    float: left;
    height: 100%;
    padding: 9px;
}

.img-card>img {
    height: 100%;
}

#divImagem{
	width:100%;
}

#botaoImg{
	margin-top: 3px;
}

#inputBtn{
	width: 100%;
}

.tituloCard{
	text-align: center;
	width: 100%;
	font-size: 20px;	
}

.venda{
	color:red;
}

.doacao{
	color:green;
}